Repository SonixQMK/qmk_firmware, pull requests merged in 2021-08, with the labels that each got.

#58 [Keychron C1] Update readme.md
  keyboards/keychron/c1/readme.md
Labels: keyboard

#60 [Keychron C1] Disable VIA
  keyboards/keychron/c1/keymaps/via/rules.mk
Labels: keymap, via

#57 [Keychron C1] Update keymap.c
  keyboards/keychron/c1/keymaps/default/keymap.c
Labels: keymap

#73 [ajazz, flashquark, redragon, smartduck, womier] sn32f240b: move boar…
  keyboards/ajazz/ak33/rev2/boards/SN_SN32F240B/board.c
  keyboards/ajazz/ak33/rev2/boards/SN_SN32F240B/board.h
  keyboards/ajazz/ak33/rev2/boards/SN_SN32F240B/board.mk
  keyboards/flashquark/horizon_z/boards/SN_SN32F240B/board.c
  keyboards/flashquark/horizon_z/boards/SN_SN32F240B/board.h
  keyboards/flashquark/horizon_z/boards/SN_SN32F240B/board.mk
  keyboards/redragon/k530/boards/SN_SN32F240B/board.c
  keyboards/redragon/k530/boards/SN_SN32F240B/board.h
  keyboards/redragon/k530/boards/SN_SN32F240B/board.mk
  keyboards/redragon/k552/rev2/boards/SN_SN32F240B/board.c
  keyboards/redragon/k552/rev2/boards/SN_SN32F240B/board.h
  keyboards/redragon/k552/rev2/boards/SN_SN32F240B/board.mk
  keyboards/redragon/k556/boards/SN_SN32F240B/board.c
  keyboards/redragon/k556/boards/SN_SN32F240B/board.h
  keyboards/redragon/k556/boards/SN_SN32F240B/board.mk
  keyboards/redragon/k580/boards/SN_SN32F240B/board.c
  keyboards/redragon/k580/boards/SN_SN32F240B/board.h
  keyboards/redragon/k580/boards/SN_SN32F240B/board.mk
  keyboards/redragon/k582/boards/SN_SN32F240B/board.c
  keyboards/redragon/k582/boards/SN_SN32F240B/board.h
  keyboards/redragon/k582/boards/SN_SN32F240B/board.mk
  keyboards/smartduck/xs61/boards/SN_SN32F240B/board.c
  keyboards/smartduck/xs61/boards/SN_SN32F240B/board.h
  keyboards/smartduck/xs61/boards/SN_SN32F240B/board.mk
  keyboards/womier/k87/boards/SN_SN32F240B/board.c
  keyboards/womier/k87/boards/SN_SN32F240B/board.h
  keyboards/womier/k87/boards/SN_SN32F240B/board.mk
Labels: keyboard

#74 [smartduck xs61] fix linting
  keyboards/smartduck/xs61/info.json
Labels: keyboard

#64 Updated keymap for SPCGear GK540 and Sharkoon SGK3 (ISO)
  keyboards/sharkoon/sgk3/keymaps/iso/config_led.c
  keyboards/sharkoon/sgk3/keymaps/iso/keymap.c
  keyboards/sharkoon/sgk3/sgk3.h
  keyboards/spcgear/gk540/gk540.h
Labels: keyboard, keymap

#88 Sharkoon SGK3 - Added ABNT2 keymap
  keyboards/sharkoon/sgk3/keymaps/abnt2/keymap.c
Labels: keymap

#87 [Redragon K530] Add Magic FN feature from stock FW
  keyboards/redragon/k530/config.h
  keyboards/redragon/k530/keymaps/default/keymap.c
Labels: keyboard, keymap
