Repository SonixQMK/qmk_firmware, pull requests merged in 2021-09, with the labels that each got.

#82 Keychron K8 - Added ISO UK config, keymap and RGB support.
  keyboards/keychron/k8/keymaps/default/config.h
  keyboards/keychron/k8/keymaps/default/config_led.c
  keyboards/keychron/k8/keymaps/default/config_led.h
  keyboards/keychron/k8/keymaps/iso_uk/config.h
  keyboards/keychron/k8/keymaps/iso_uk/config_led.c
  keyboards/keychron/k8/keymaps/iso_uk/config_led.h
  keyboards/keychron/k8/keymaps/iso_uk/keymap.c
  keyboards/keychron/k8/keymaps/iso_uk/rules.mk
  keyboards/keychron/k8/readme.md
Labels: keyboard, keymap

#55 Add support for Marvo KG938
  bin/build_all.py
  keyboards/marvo/kg938/boards/SN_SN32F240/board.c
  keyboards/marvo/kg938/boards/SN_SN32F240/board.h
  keyboards/marvo/kg938/boards/SN_SN32F240/board.mk
  keyboards/marvo/kg938/bootloader_defs.h
  keyboards/marvo/kg938/chconf.h
  keyboards/marvo/kg938/config.h
  keyboards/marvo/kg938/config_led.c
  keyboards/marvo/kg938/config_led.h
  keyboards/marvo/kg938/halconf.h
  keyboards/marvo/kg938/info.json
  keyboards/marvo/kg938/keymaps/default/keymap.c
  keyboards/marvo/kg938/keymaps/default/readme.md
  keyboards/marvo/kg938/kg938.h
  keyboards/marvo/kg938/led_matrix.c
  keyboards/marvo/kg938/matrix.c
  keyboards/marvo/kg938/mcuconf.h
  keyboards/marvo/kg938/readme.md
  keyboards/marvo/kg938/rules.mk
Labels: keyboard, keymap, python

#36 Enable NKRO for K556
  keyboards/redragon/k556/config.h
  keyboards/redragon/k556/rules.mk
Labels: keyboard

#91 Add support for Keychron K6 White LED
  keyboards/keychron/k6_white/boards/SN_SN32F260/board.c
  keyboards/keychron/k6_white/boards/SN_SN32F260/board.h
  keyboards/keychron/k6_white/boards/SN_SN32F260/board.mk
  keyboards/keychron/k6_white/chconf.h
  keyboards/keychron/k6_white/halconf.h
  keyboards/keychron/k6_white/k6_white.h
  keyboards/keychron/k6_white/keymaps/ansi/config.h
  keyboards/keychron/k6_white/keymaps/ansi/config_led.c
  keyboards/keychron/k6_white/keymaps/ansi/config_led.h
  keyboards/keychron/k6_white/keymaps/ansi/keymap.c
  keyboards/keychron/k6_white/matrix.c
  keyboards/keychron/k6_white/mcuconf.h
  keyboards/keychron/k6_white/readme.md
  keyboards/keychron/k6_white/rules.mk
Labels: keyboard, keymap

#94 [Keychron C1] Bulk update
  keyboards/keychron/c1/config.h
  keyboards/keychron/c1/keymaps/default/keymap.c
  keyboards/keychron/c1/readme.md
  keyboards/keychron/c1/rules.mk
Labels: keyboard, keymap

#108 [Keychron C1] Cleanup keymaps
  keyboards/keychron/c1/c1.c
  keyboards/keychron/c1/keymaps/default/keymap.c
  keyboards/keychron/c1/keymaps/via/keymap.c
  keyboards/keychron/c1/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#106 [K3v2] Bringup
  keyboards/keychron/k3/config.h
  keyboards/keychron/k3/config_led.c
  keyboards/keychron/k3/config_led.h
  keyboards/keychron/k3/k3.h
  keyboards/keychron/k3/keymaps/default/keymap.c
Labels: keyboard, keymap
