Repository SonixQMK/qmk_firmware, pull requests merged in 2021-12, with the labels that each got.

#163 Add sha and ref name to CI artifacts
  .github/workflows/auto-build.yml
Labels: CI

#135 [Keychron C1 White] Bringup
  bin/build_all.py
  keyboards/keychron/c1/white/SN32F260_defines.h
  keyboards/keychron/c1/white/chconf.h
  keyboards/keychron/c1/white/config.h
  keyboards/keychron/c1/white/halconf.h
  keyboards/keychron/c1/white/info.json
  keyboards/keychron/c1/white/keychron_c1_white_via.json
  keyboards/keychron/c1/white/keymaps/default/keymap.c
  keyboards/keychron/c1/white/keymaps/via/keymap.c
  keyboards/keychron/c1/white/keymaps/via/no_idle_thread.c
  keyboards/keychron/c1/white/keymaps/via/rules.mk
  keyboards/keychron/c1/white/matrix.c
  keyboards/keychron/c1/white/mcuconf.h
  keyboards/keychron/c1/white/rand.c
  keyboards/keychron/c1/white/readme.md
  keyboards/keychron/c1/white/rgb_matrix_kb.inc
  keyboards/keychron/c1/white/rules.mk
  keyboards/keychron/c1/white/white.c
  keyboards/keychron/c1/white/white.h
Labels: keyboard, keymap, via, python

#120 Corrected K530 documentation.
  keyboards/redragon/k530/readme.md
Labels: keyboard, Hacktoberfest

#125 Keychorn K7 Optical initial bringup
  bin/build_all.py
  drivers/sn32/matrix_sn32f24xx.c
  keyboards/keychron/k7/rgb/chconf.h
  keyboards/keychron/k7/rgb/config.h
  keyboards/keychron/k7/rgb/config_led.c
  keyboards/keychron/k7/rgb/config_led.h
  keyboards/keychron/k7/rgb/halconf.h
  keyboards/keychron/k7/rgb/info.json
  keyboards/keychron/k7/rgb/keymaps/ansi/keymap.c
  keyboards/keychron/k7/rgb/keymaps/iso/config.h
  keyboards/keychron/k7/rgb/keymaps/iso/keymap.c
  keyboards/keychron/k7/rgb/keymaps/stdvar/config.h
  keyboards/keychron/k7/rgb/keymaps/stdvar/keymap.c
  keyboards/keychron/k7/rgb/keymaps/stdvar/rules.mk
  keyboards/keychron/k7/rgb/mcuconf.h
  keyboards/keychron/k7/rgb/optical/readme.md
  keyboards/keychron/k7/rgb/optical/rules.mk
  keyboards/keychron/k7/rgb/readme.md
  keyboards/keychron/k7/rgb/rgb.h
  keyboards/keychron/k7/rgb/rules.mk
Labels: keyboard, keymap, python, core, Hacktoberfest

#170 Add Keychron K8 RGB Optical support
  bin/build_all.py
  keyboards/keychron/k8/k8_via_ansi.json
  keyboards/keychron/k8/k8_via_ansi_optical.json
  keyboards/keychron/k8/k8_via_iso.json
  keyboards/keychron/k8/keymaps/ansi/config.h
  keyboards/keychron/k8/keymaps/ansi/config_led.h
  keyboards/keychron/k8/keymaps/ansi/keymap.c
  keyboards/keychron/k8/keymaps/iso/config.h
  keyboards/keychron/k8/optical/readme.md
  keyboards/keychron/k8/optical/rules.mk
  keyboards/keychron/k8/optical_via/readme.md
  keyboards/keychron/k8/optical_via/rules.mk
Labels: keyboard, keymap, python

#165 Fix nightly.link links
  .github/workflows/auto-build.yml
Labels: CI

#166 Add Keychron C2 White
  bin/build_all.py
  keyboards/keychron/c2/white/SN32F260_defines.h
  keyboards/keychron/c2/white/chconf.h
  keyboards/keychron/c2/white/config.h
  keyboards/keychron/c2/white/halconf.h
  keyboards/keychron/c2/white/info.json
  keyboards/keychron/c2/white/keymaps/default/keymap.c
  keyboards/keychron/c2/white/keymaps/via/keymap.c
  keyboards/keychron/c2/white/keymaps/via/no_idle_thread.c
  keyboards/keychron/c2/white/keymaps/via/rules.mk
  keyboards/keychron/c2/white/matrix.c
  keyboards/keychron/c2/white/mcuconf.h
  keyboards/keychron/c2/white/rand.c
  keyboards/keychron/c2/white/readme.md
  keyboards/keychron/c2/white/rgb_matrix_kb.inc
  keyboards/keychron/c2/white/rules.mk
  keyboards/keychron/c2/white/white.c
  keyboards/keychron/c2/white/white.h
  keyboards/keychron/c2/white/white.json
Labels: keyboard, keymap, via, python

#161 Add Keychron C1 plain
  bin/build_all.py
  keyboards/keychron/c1/plain/SN32F260_defines.h
  keyboards/keychron/c1/plain/chconf.h
  keyboards/keychron/c1/plain/config.h
  keyboards/keychron/c1/plain/halconf.h
  keyboards/keychron/c1/plain/info.json
  keyboards/keychron/c1/plain/keymaps/default/keymap.c
  keyboards/keychron/c1/plain/keymaps/via/keymap.c
  keyboards/keychron/c1/plain/keymaps/via/rules.mk
  keyboards/keychron/c1/plain/mcuconf.h
  keyboards/keychron/c1/plain/plain.c
  keyboards/keychron/c1/plain/plain.h
  keyboards/keychron/c1/plain/plain.json
  keyboards/keychron/c1/plain/rand.c
  keyboards/keychron/c1/plain/readme.md
  keyboards/keychron/c1/plain/rules.mk
Labels: keyboard, keymap, via, python

#172 SN32F26x shared matrix
  common_features.mk
  drivers/sn32/matrix_sn32f26x.c
  keyboards/keychron/c1/white/SN32F260_defines.h
  keyboards/keychron/c1/white/matrix.c
  keyboards/keychron/c1/white/rules.mk
  keyboards/keychron/c2/white/SN32F260_defines.h
  keyboards/keychron/c2/white/rules.mk
Labels: keyboard, core

#140 Added support for Akko 3061 World Tour Tokyo R2
  bin/build_all.py
  keyboards/akko/3061_rgb/3061_rgb.h
  keyboards/akko/3061_rgb/bootloader_defs.h
  keyboards/akko/3061_rgb/chconf.h
  keyboards/akko/3061_rgb/config.h
  keyboards/akko/3061_rgb/config_led.c
  keyboards/akko/3061_rgb/config_led.h
  keyboards/akko/3061_rgb/halconf.h
  keyboards/akko/3061_rgb/info.json
  keyboards/akko/3061_rgb/keymaps/default/keymap.c
  keyboards/akko/3061_rgb/keymaps/default/readme.md
  keyboards/akko/3061_rgb/keymaps/horrortroll/config.h
  keyboards/akko/3061_rgb/keymaps/horrortroll/keymap.c
  keyboards/akko/3061_rgb/keymaps/horrortroll/keymap_stuff.h
  keyboards/akko/3061_rgb/keymaps/horrortroll/led/cool_diagonal.c
  keyboards/akko/3061_rgb/keymaps/horrortroll/led/custom_gradient.c
  keyboards/akko/3061_rgb/keymaps/horrortroll/led/diagonal.c
  keyboards/akko/3061_rgb/keymaps/horrortroll/led/kitt.c
  keyboards/akko/3061_rgb/keymaps/horrortroll/led/rainbow_reactive_simple/rainbow_reactive_simple.c
  keyboards/akko/3061_rgb/keymaps/horrortroll/led/rainbow_reactive_simple/rainbow_reactive_simple.h
  keyboards/akko/3061_rgb/keymaps/horrortroll/led/random_breath_rainbow.c
  keyboards/akko/3061_rgb/keymaps/horrortroll/readme.md
  keyboards/akko/3061_rgb/keymaps/horrortroll/rgb_matrix_user.inc
  keyboards/akko/3061_rgb/keymaps/horrortroll/rules.mk
  keyboards/akko/3061_rgb/keymaps/via/config.h
  keyboards/akko/3061_rgb/keymaps/via/keymap.c
  keyboards/akko/3061_rgb/keymaps/via/readme.md
  keyboards/akko/3061_rgb/keymaps/via/rules.mk
  keyboards/akko/3061_rgb/mcuconf.h
  keyboards/akko/3061_rgb/readme.md
  keyboards/akko/3061_rgb/rules.mk
Labels: keyboard, keymap, via, python

#173 Keychron K14 bring up
  bin/build_all.py
  keyboards/keychron/k14/rgb/chconf.h
  keyboards/keychron/k14/rgb/halconf.h
  keyboards/keychron/k14/rgb/info.json
  keyboards/keychron/k14/rgb/k14.h
  keyboards/keychron/k14/rgb/keymaps/ansi/config.h
  keyboards/keychron/k14/rgb/keymaps/ansi/config_led.c
  keyboards/keychron/k14/rgb/keymaps/ansi/config_led.h
  keyboards/keychron/k14/rgb/keymaps/ansi/keymap.c
  keyboards/keychron/k14/rgb/mcuconf.h
  keyboards/keychron/k14/rgb/readme.md
  keyboards/keychron/k14/rgb/rgb.h
  keyboards/keychron/k14/rgb/rules.mk
  keyboards/keychron/k14/rgb/via/readme.md
  keyboards/keychron/k14/rgb/via/rules.mk
  keyboards/keychron/k14/rgb/via_ansi.json
Labels: keyboard, keymap, python
