Repository SonixQMK/qmk_firmware, pull requests merged in 2021-11, with the labels that each got.

#151 sn32: family definition updates
  tmk_core/common/chibios/sleep_led.c
  tmk_core/common/chibios/suspend.c
Labels: core

#154 Fix PR122
  bin/build_all.py
Labels: python

#150 sleep led: sn32: don't override mode stored in eeprom
  tmk_core/common/chibios/sleep_led.c
Labels: core

#156 Gets os toggle switch to work on Keychron K6 RGB ANSI
  keyboards/keychron/k6/rgb/keymaps/ansi/config.h
  keyboards/keychron/k6/rgb/keymaps/ansi/keymap.c
Labels: keymap

#160 Making compile firmware action fail
  .github/workflows/auto-build.yml
  bin/build_all.py
Labels: python, CI
