Repository SonixQMK/qmk_firmware, pull requests merged in 2022-11, with the labels that each got.

#296 [GMMK compact] Remove trailing whitespace
  keyboards/gmmk/compact/led_matrix.c
Labels: keyboard

#272 fix keychron k3 iso keymap copy paste error
  keyboards/keychron/k3/keymaps/iso/keymap.c
Labels: keymap

#275 Update instructions
  keyboards/keychron/k8/readme.md
Labels: keyboard

#276 Update examples
  keyboards/keychron/k8/rgb/readme.md
Labels: keyboard

#288 [Keychron K8 RGB] Disable RGB while USB is sleeping
  keyboards/keychron/k8/rgb/config.h
Labels: keyboard

#277 Keychron K6 VIA_ISO fix
  keyboards/keychron/k6/keymaps/via_iso/info.json
  keyboards/keychron/k6/keymaps/via_iso/keymap.c
Labels: keymap

#284 openrgb: Fix response of GET_ENABLED_MODES command
  quantum/openrgb.c
Labels: core

#300 [keymap] Created Redragon K530 brazilian ABNT2.
  keyboards/redragon/k530/keymaps/default_abnt2/keymap.c
Labels: keymap

#247 Add support for the VSG Bellatrix
  keyboards/vsg/bellatrix/bellatrix.c
  keyboards/vsg/bellatrix/bellatrix.h
  keyboards/vsg/bellatrix/config.h
  keyboards/vsg/bellatrix/info.json
  keyboards/vsg/bellatrix/keymaps/default/keymap.c
  keyboards/vsg/bellatrix/keymaps/via/config.h
  keyboards/vsg/bellatrix/keymaps/via/keymap.c
  keyboards/vsg/bellatrix/keymaps/via/rules.mk
  keyboards/vsg/bellatrix/keymaps/via/via.json
  keyboards/vsg/bellatrix/readme.md
  keyboards/vsg/bellatrix/rules.mk
Labels: keyboard, keymap, via

#279 Update GMMK Full ISO keymap to report correct layout
  keyboards/gmmk/full/keymaps/iso/keymap.c
Labels: keymap
