Repository SonixQMK/qmk_firmware, pull requests merged in 2022-02, with the labels that each got.

#212 [Redragon K580] add underglow
  drivers/led/sn32/rgb_matrix_sn32f24xb.c
  keyboards/redragon/k580/config_led.c
  keyboards/redragon/k580/config_led.h
Labels: keyboard, core

#216 sn32: 240b: switch to low power mode on idle
  platforms/chibios/boards/SN_SN32F240B/board/board.mk
  platforms/chibios/boards/SN_SN32F240B/configs/chconf.h
  platforms/chibios/boards/SN_SN32F260/board/board.mk
Labels: core

#217 Remove MATRIX_KEY_SAMPLE_DELAY for optical sn32f24xx keyboards
  drivers/led/sn32/matrix_sn32f24xx.c
Labels: core

#220 [Redragon K580] Add VIA support
  keyboards/redragon/k580/config.h
  keyboards/redragon/k580/k580_via.json
  keyboards/redragon/k580/keymaps/via/config.h
  keyboards/redragon/k580/keymaps/via/keymap.c
  keyboards/redragon/k580/keymaps/via/rules.mk
  keyboards/redragon/k580/rules.mk
  platforms/chibios/boards/SN_SN32F240B/board/board.mk
  platforms/chibios/boards/SN_SN32F260/board/board.mk
Labels: keyboard, keymap, via, core

#208 [Keychron K2] Enable RGB effects and enable VIA control
  keyboards/keychron/k2/keymaps/default/via_ansi.json
  keyboards/keychron/k2/rgb/config_led.h
  keyboards/keychron/k2/rgb/optical_via/config.h
  keyboards/keychron/k2/rgb/via/config.h
Labels: keyboard, keymap

#222 gmmk: add spi flush and increase spi clock
  keyboards/gmmk/compact/rev3/backlight.c
  keyboards/gmmk/compact/rev3/rules.mk
  keyboards/gmmk/full/rev3/backlight.c
  keyboards/gmmk/full/rev3/rules.mk
  keyboards/gmmk/tkl/rev3/backlight.c
  keyboards/gmmk/tkl/rev3/rules.mk
Labels: keyboard

#213 [Keychron C1 RGB] Minor Patches
  keyboards/keychron/c1/rgb/config.h
  keyboards/keychron/c1/rgb/info.json
  keyboards/keychron/c1/rgb/keymaps/default/keymap.c
  keyboards/keychron/c1/rgb/keymaps/via/config.h
  keyboards/keychron/c1/rgb/keymaps/via/keymap.c
  keyboards/keychron/c1/rgb/readme.md
  keyboards/keychron/c1/rgb/rgb.c
  keyboards/keychron/c1/rgb/rgb.json
Labels: keyboard, keymap, via

#221 [Keychron K12] Add keyboard
  keyboards/keychron/k12/config.h
  keyboards/keychron/k12/k12.c
  keyboards/keychron/k12/k12.h
  keyboards/keychron/k12/keymaps/ansi/keymap.c
  keyboards/keychron/k12/keymaps/default/keymap.c
  keyboards/keychron/k12/keymaps/via/config.h
  keyboards/keychron/k12/keymaps/via/k12_via_ansi.json
  keyboards/keychron/k12/keymaps/via/keymap.c
  keyboards/keychron/k12/keymaps/via/rules.mk
  keyboards/keychron/k12/readme.md
  keyboards/keychron/k12/rgb/ansi/ansi.c
  keyboards/keychron/k12/rgb/ansi/ansi.h
  keyboards/keychron/k12/rgb/ansi/config.h
  keyboards/keychron/k12/rgb/ansi/readme.md
  keyboards/keychron/k12/rgb/ansi/rules.mk
  keyboards/keychron/k12/rgb/config.h
  keyboards/keychron/k12/rgb/info.json
  keyboards/keychron/k12/rgb/optical_ansi/config.h
  keyboards/keychron/k12/rgb/optical_ansi/optical_ansi.c
  keyboards/keychron/k12/rgb/optical_ansi/optical_ansi.h
  keyboards/keychron/k12/rgb/optical_ansi/readme.md
  keyboards/keychron/k12/rgb/optical_ansi/rules.mk
  keyboards/keychron/k12/rgb/readme.md
  keyboards/keychron/k12/rgb/rgb.h
  keyboards/keychron/k12/rgb/rules.mk
Labels: keyboard, keymap, via

#229 gmmk: enable rgb effects
  keyboards/gmmk/compact/rev2/config.h
  keyboards/gmmk/compact/rev3/config.h
  keyboards/gmmk/full/config.h
  keyboards/gmmk/tkl/config.h
Labels: keyboard

#231 260: switch to LED instead of RGB MATRIX
  common_features.mk
  drivers/led/sn32/led_matrix_sn32f26x.c
  drivers/led/sn32/rgb_matrix_sn32f26x.c
  drivers/led/sn32/sn32f26x.h
  keyboards/keychron/c1/white/config.h
  keyboards/keychron/c1/white/halconf.h
  keyboards/keychron/c1/white/rgb_matrix_kb.inc
  keyboards/keychron/c1/white/rules.mk
  keyboards/keychron/c1/white/white.c
  platforms/chibios/boards/SN_SN32F260/configs/mcuconf.h
  quantum/led_matrix/led_matrix.h
  quantum/led_matrix/led_matrix_drivers.c
  quantum/rgb_matrix/rgb_matrix.h
  quantum/rgb_matrix/rgb_matrix_drivers.c
Labels: keyboard, core

#233 [ Keychron C2 ] Clean up, fix C2 white VIA build
  keyboards/keychron/c2/white/config.h
  keyboards/keychron/c2/white/halconf.h
  keyboards/keychron/c2/white/keymaps/default/keymap.c
  keyboards/keychron/c2/white/keymaps/via/rules.mk
  keyboards/keychron/c2/white/rgb_matrix_kb.inc
  keyboards/keychron/c2/white/rules.mk
  keyboards/keychron/c2/white/white.c
Labels: keyboard, keymap, via

#228 [K8 Optical] Fix F1 key rgb
  keyboards/keychron/k8/rgb/optical_ansi/optical_ansi.c
Labels: keyboard

#234 Fix rules.mk for K8
  keyboards/keychron/k8/rgb/rules.mk
Labels: keyboard

#235 Redragon K556 enable RGB and VIA!
  keyboards/redragon/k556/K556_via.json
  keyboards/redragon/k556/config.h
  keyboards/redragon/k556/keymaps/via/config.h
  keyboards/redragon/k556/keymaps/via/keymap.c
  keyboards/redragon/k556/keymaps/via/rules.mk
  keyboards/redragon/k556/readme.md
Labels: keyboard, keymap, via

#240 gmmk: fix openrgb enable build errors
  keyboards/gmmk/compact/rev2/config.h
  keyboards/gmmk/compact/rev2/keymaps/via/rules.mk
  keyboards/gmmk/compact/rev3/config.h
  keyboards/gmmk/compact/rev3/keymaps/via/rules.mk
  keyboards/gmmk/compact/rules.mk
  keyboards/gmmk/full/config.h
  keyboards/gmmk/full/keymaps/via/rules.mk
  keyboards/gmmk/full/rules.mk
  keyboards/gmmk/tkl/config.h
  keyboards/gmmk/tkl/keymaps/via/rules.mk
  keyboards/gmmk/tkl/rules.mk
  quantum/openrgb.c
  quantum/openrgb.h
  quantum/rgb_matrix/animations/openrgb_direct_anim.h
Labels: keyboard, keymap, via, core
