Repository SonixQMK/qmk_firmware, pull requests merged in 2022-01, with the labels that each got.

#180 sn32 keyboards: minimize shared declarations
  keyboards/ajazz/ak33/rev1/config_led.h
  keyboards/ajazz/ak33/rev2/config_led.h
  keyboards/akko/3061_rgb/config_led.h
  keyboards/flashquark/horizon_z/config_led.h
  keyboards/keychron/c1/rgb/config_led.h
  keyboards/keychron/c1/white/config.h
  keyboards/keychron/k14/rgb/keymaps/ansi/config_led.h
  keyboards/keychron/k2/config_led.h
  keyboards/keychron/k3/config_led.h
  keyboards/keychron/k4/rgb/v1/config_led.h
  keyboards/keychron/k4/rgb/v2/keymaps/default_ansi/config_led.h
  keyboards/keychron/k4/rgb/v2/keymaps/default_iso/config_led.h
  keyboards/keychron/k6/rgb/keymaps/ansi/config_led.h
  keyboards/keychron/k6/rgb/keymaps/iso/config_led.h
  keyboards/keychron/k6/rgb/keymaps/stdvar/config_led.h
  keyboards/keychron/k7/rgb/config_led.h
  keyboards/keychron/k8/keymaps/ansi/config_led.h
  keyboards/keychron/k8/keymaps/iso/config_led.h
  keyboards/redragon/k552/rev1/keymaps/abnt2/config_led.h
  keyboards/redragon/k552/rev1/keymaps/ansi/config_led.h
  keyboards/redragon/k552/rev1/keymaps/iso/config_led.h
  keyboards/redragon/k552/rev2/config_led.h
  keyboards/redragon/k556/config_led.h
  keyboards/redragon/k580/config_led.h
  keyboards/redragon/k582/config_led.h
  keyboards/redragon/k630/config_led.h
  keyboards/sharkoon/sgk3/keymaps/ansi/config_led.h
  keyboards/sharkoon/sgk3/keymaps/iso/config_led.h
  keyboards/smartduck/xs61/config_led.h
  keyboards/spcgear/gk530/config_led.h
  keyboards/spcgear/gk540/config_led.h
  keyboards/womier/k87/config_led.h
Labels: keyboard, keymap

#171 sn32: shared matrix: switch to continuous pwm
  drivers/sn32/matrix_sn32f24xx.c
  drivers/sn32/rgb_matrix_sn32f248b.c
  drivers/sn32/rgb_matrix_sn32f24xx.h
  keyboards/ajazz/ak33/rev2/mcuconf.h
  keyboards/akko/3061_rgb/mcuconf.h
  keyboards/ffc/ffc61/mcuconf.h
  keyboards/flashquark/horizon_z/mcuconf.h
  keyboards/keychron/c1/rgb/mcuconf.h
  keyboards/keychron/k14/rgb/mcuconf.h
  keyboards/keychron/k2/mcuconf.h
  keyboards/keychron/k3/mcuconf.h
  keyboards/keychron/k4/rgb/mcuconf.h
  keyboards/keychron/k6/rgb/mcuconf.h
  keyboards/keychron/k7/rgb/mcuconf.h
  keyboards/keychron/k8/keymaps/ansi/config_led.h
  keyboards/keychron/k8/keymaps/iso/config_led.h
  keyboards/keychron/k8/mcuconf.h
  keyboards/redragon/k530/mcuconf.h
  keyboards/redragon/k552/rev2/mcuconf.h
  keyboards/redragon/k556/mcuconf.h
  keyboards/redragon/k580/mcuconf.h
  keyboards/redragon/k582/mcuconf.h
  keyboards/redragon/k630/mcuconf.h
  keyboards/spcgear/gk530/config.h
  keyboards/spcgear/gk540/config.h
Labels: keyboard, keymap, core

#186 keychron k4: fix json + add numlock indicator in v1
  keyboards/keychron/k4/rgb/v1/keymaps/default/via_ansi.json
  keyboards/keychron/k4/rgb/v1/v1.c
  keyboards/keychron/k4/rgb/v2/keymaps/default_ansi/via_ansi.json
Labels: keyboard, keymap

#175 gmmk: support compact size rev2 and rev3
  bin/build_all.py
  keyboards/gmmk/compact/chconf.h
  keyboards/gmmk/compact/compact.h
  keyboards/gmmk/compact/config_led.c
  keyboards/gmmk/compact/config_led.h
  keyboards/gmmk/compact/halconf.h
  keyboards/gmmk/compact/info.json
  keyboards/gmmk/compact/led_matrix.c
  keyboards/gmmk/compact/readme.md
  keyboards/gmmk/compact/rev2/backlight.c
  keyboards/gmmk/compact/rev2/config.h
  keyboards/gmmk/compact/rev2/iso.h
  keyboards/gmmk/compact/rev2/keymaps/default/keymap.c
  keyboards/gmmk/compact/rev2/keymaps/iso/keymap.c
  keyboards/gmmk/compact/rev2/keymaps/via/keymap.c
  keyboards/gmmk/compact/rev2/keymaps/via/rules.mk
  keyboards/gmmk/compact/rev2/mcuconf.h
  keyboards/gmmk/compact/rev2/readme.md
  keyboards/gmmk/compact/rev2/rev2.h
  keyboards/gmmk/compact/rev2/rules.mk
  keyboards/gmmk/compact/rev3/SPI.h
  keyboards/gmmk/compact/rev3/SPI0.c
  keyboards/gmmk/compact/rev3/backlight.c
  keyboards/gmmk/compact/rev3/config.h
  keyboards/gmmk/compact/rev3/keymaps/default/keymap.c
  keyboards/gmmk/compact/rev3/keymaps/iso/keymap.c
  keyboards/gmmk/compact/rev3/keymaps/via/keymap.c
  keyboards/gmmk/compact/rev3/keymaps/via/rules.mk
  keyboards/gmmk/compact/rev3/mcuconf.h
  keyboards/gmmk/compact/rev3/readme.md
  keyboards/gmmk/compact/rev3/rev3.h
  keyboards/gmmk/compact/rev3/rules.mk
  keyboards/gmmk/compact/rules.mk
Labels: keyboard, keymap, via, python

#192 Fixed non-functional Keychron C1 White github Action build
  tmk_core/rules.mk
Labels: core

#193 Swap volume up/down (fn+f11 / f12) on K8
  keyboards/keychron/k8/keymaps/iso/keymap.c
  keyboards/keychron/k8/rgb/via/readme.md
Labels: keyboard, keymap

#195 Added Keychron K3 ISO keymap
  keyboards/keychron/k3/keymaps/ansi/config.h
  keyboards/keychron/k3/keymaps/ansi/keymap.c
  keyboards/keychron/k3/keymaps/ansi/via_ansi.json
  keyboards/keychron/k3/keymaps/iso/config.h
  keyboards/keychron/k3/keymaps/iso/keymap.c
  keyboards/keychron/k3/keymaps/iso/via_iso.json
  keyboards/keychron/k3/rgb/config_led.c
  keyboards/keychron/k3/rgb/config_led.h
  keyboards/keychron/k3/rgb/info.json
  keyboards/keychron/k3/rgb/k3.h
  keyboards/keychron/k3/rgb/readme.md
Labels: keyboard, keymap

#194 Aukey KM-G12
  keyboards/aukey/kmg12/config.h
  keyboards/aukey/kmg12/config_led.c
  keyboards/aukey/kmg12/config_led.h
  keyboards/aukey/kmg12/info.json
  keyboards/aukey/kmg12/keymaps/default/keymap.c
  keyboards/aukey/kmg12/kmg12.h
  keyboards/aukey/kmg12/readme.md
  keyboards/aukey/kmg12/rules.mk
  lib/python/build_all.py
Labels: keyboard, keymap, python, cli, rebase-needed

#197 Add Rakk Lam Ang Pro - RGB Hotswap
  keyboards/rakk_lam_ang_pro/config.h
  keyboards/rakk_lam_ang_pro/info.json
  keyboards/rakk_lam_ang_pro/keymaps/default/keymap.c
  keyboards/rakk_lam_ang_pro/keymaps/via/keymap.c
  keyboards/rakk_lam_ang_pro/keymaps/via/rules.mk
  keyboards/rakk_lam_ang_pro/rakk_lam_ang_pro.c
  keyboards/rakk_lam_ang_pro/rakk_lam_ang_pro.h
  keyboards/rakk_lam_ang_pro/readme.md
  keyboards/rakk_lam_ang_pro/rules.mk
Labels: keyboard, keymap, via

#199 Keychron K3 ISO OS selector, Mac keymap and fixes
  keyboards/keychron/k3/keymaps/iso/keymap.c
  keyboards/keychron/k3/rgb/config.h
Labels: keyboard, keymap

#201 Enable memcore to fixing issue of RGB effect
  platforms/chibios/boards/SN_SN32F240B/configs/chconf.h
  platforms/chibios/boards/SN_SN32F240B/configs/halconf.h
Labels: core

#202 update Rakk Lam Ang to include VIA RGB config
  keyboards/rakk_lam_ang_pro/config.h
  keyboards/rakk_lam_ang_pro/keymaps/via/config.h
  keyboards/rakk_lam_ang_pro/rakk_lam_ang_pro_via.json
Labels: keyboard, keymap, via

#206 [CI] Add quick build workflow, add whitelist/blacklist support in build_all.py
  .github/workflows/auto-build-quick.yml
  lib/python/build_all.py
  quickbuild_whitelist
Labels: python, CI, cli

#209 [CI] automate openrgb updates
  .github/workflows/openrgb_update.yml
Labels: CI

#211 [Redragon K580] use the common matrix driver
  keyboards/redragon/k580/led_matrix.c
  keyboards/redragon/k580/rules.mk
Labels: keyboard
