Repository SonixQMK/qmk_firmware, pull requests merged in 2023-09, with the labels that each got.

#350 Keychron K8 ISO: Fix backlights lighting up rows on keypress
  keyboards/keychron/k8/rgb/iso/config.h
Labels: keyboard

#338 [Keyboard] add Keychron K4V2 RGB
  keyboards/keychron/k4/rgb/v2/ansi/config.h
  keyboards/keychron/k4/rgb/v2/ansi/info.json
  keyboards/keychron/k4/rgb/v2/ansi/keymaps/default/keymap.c
  keyboards/keychron/k4/rgb/v2/ansi/keymaps/via/config.h
  keyboards/keychron/k4/rgb/v2/ansi/keymaps/via/keymap.c
  keyboards/keychron/k4/rgb/v2/ansi/keymaps/via/readme.md
  keyboards/keychron/k4/rgb/v2/ansi/keymaps/via/rules.mk
  keyboards/keychron/k4/rgb/v2/ansi/keymaps/via/via_ansi.json
  keyboards/keychron/k4/rgb/v2/ansi/readme.md
  keyboards/keychron/k4/rgb/v2/ansi/rules.mk
Labels: keyboard, keymap, via

#349 K4v2 Iso Version Update
  keyboards/keychron/k4/rgb/v2/iso/config.h
  keyboards/keychron/k4/rgb/v2/iso/info.json
  keyboards/keychron/k4/rgb/v2/iso/keymaps/default/keymap.c
  keyboards/keychron/k4/rgb/v2/iso/keymaps/via/config.h
  keyboards/keychron/k4/rgb/v2/iso/keymaps/via/keymap.c
  keyboards/keychron/k4/rgb/v2/iso/keymaps/via/readme.md
  keyboards/keychron/k4/rgb/v2/iso/keymaps/via/rules.mk
  keyboards/keychron/k4/rgb/v2/iso/readme.md
  keyboards/keychron/k4/rgb/v2/iso/rules.mk
  keyboards/keychron/k4/rgb/v2/via_json/k4_iso.json
Labels: keyboard, keymap, via

#343 sn32: remove HAS_ configs
  platforms/chibios/boards/SN_SN32F240/board/board.mk
  platforms/chibios/boards/SN_SN32F240/configs/mcuconf.h
  platforms/chibios/boards/SN_SN32F240B/configs/mcuconf.h
  platforms/chibios/boards/SN_SN32F260/configs/mcuconf.h
Labels: core
