Repository SonixQMK/qmk_firmware, pull requests merged in 2023-06, with the labels that each got.

#328 Fix pin D4 not being activated on SM32F268F chips
  drivers/led/sn32/led_matrix_sn32f26x.c
Labels: core

#321 add ozone tactical
  keyboards/ozone/tactical/config.h
  keyboards/ozone/tactical/info.json
  keyboards/ozone/tactical/keymaps/default/keymap.c
  keyboards/ozone/tactical/keymaps/elpekenin/config.h
  keyboards/ozone/tactical/keymaps/elpekenin/keymap.c
  keyboards/ozone/tactical/keymaps/elpekenin/rules.mk
  keyboards/ozone/tactical/readme.md
  keyboards/ozone/tactical/rules.mk
Labels: keyboard, keymap

#335 Add designedbyGG Berserker
  keyboards/designedbygg/berserker/berserker.c
  keyboards/designedbygg/berserker/config.h
  keyboards/designedbygg/berserker/halconf.h
  keyboards/designedbygg/berserker/info.json
  keyboards/designedbygg/berserker/keymaps/default/keymap.c
  keyboards/designedbygg/berserker/keymaps/via/berserker_via.json
  keyboards/designedbygg/berserker/keymaps/via/config.h
  keyboards/designedbygg/berserker/keymaps/via/keymap.c
  keyboards/designedbygg/berserker/keymaps/via/rules.mk
  keyboards/designedbygg/berserker/readme.md
  keyboards/designedbygg/berserker/rules.mk
Labels: keyboard, keymap, via

#334 Flip Mac and Windows layer order to correspond with the physical switch
  keyboards/keychron/c2/rgb/keymaps/default/keymap.c
Labels: keymap
