Repository SonixQMK/qmk_firmware, pull requests merged in 2023-07, with the labels that each got.

#315 Add support for Designed by GG Ironclad
  keyboards/designedbygg/ironclad/config.h
  keyboards/designedbygg/ironclad/halconf.h
  keyboards/designedbygg/ironclad/icl01/config.h
  keyboards/designedbygg/ironclad/icl01/info.json
  keyboards/designedbygg/ironclad/icl01/keymaps/default/keymap.c
  keyboards/designedbygg/ironclad/icl01/keymaps/via/config.h
  keyboards/designedbygg/ironclad/icl01/keymaps/via/ironclad_via.json
  keyboards/designedbygg/ironclad/icl01/keymaps/via/keymap.c
  keyboards/designedbygg/ironclad/icl01/keymaps/via/rules.mk
  keyboards/designedbygg/ironclad/icl01/readme.md
  keyboards/designedbygg/ironclad/icl01/rules.mk
  keyboards/designedbygg/ironclad/ironclad.c
  keyboards/designedbygg/ironclad/readme.md
Labels: keyboard, keymap, via

#337 [Keyboard] Add CZC.Gaming Dwarf
  keyboards/czc/dwarf/config.h
  keyboards/czc/dwarf/info.json
  keyboards/czc/dwarf/keymaps/default/keymap.c
  keyboards/czc/dwarf/keymaps/via/config.h
  keyboards/czc/dwarf/keymaps/via/dwarf_via.json
  keyboards/czc/dwarf/keymaps/via/keymap.c
  keyboards/czc/dwarf/keymaps/via/rules.mk
  keyboards/czc/dwarf/readme.md
  keyboards/czc/dwarf/rules.mk
Labels: keyboard, keymap, via

#340 sn32 keyboards: migrate rgb animations to data driven
  keyboards/czc/dwarf/config.h
  keyboards/czc/dwarf/info.json
  keyboards/designedbygg/berserker/config.h
  keyboards/designedbygg/berserker/info.json
  keyboards/designedbygg/ironclad/config.h
  keyboards/designedbygg/ironclad/icl01/info.json
  keyboards/flesports/fl980/config.h
  keyboards/flesports/fl980/info.json
  keyboards/keychron/k8/rgb/config.h
  keyboards/keychron/k8/rgb/info.json
  keyboards/keychron/k8/rgb/keymaps/default/keymap.c
  keyboards/ozone/tactical/config.h
  keyboards/ozone/tactical/info.json
  keyboards/redragon/k630/config.h
  keyboards/redragon/k630/info.json
Labels: keyboard, keymap

#339 Sonix SLED1734x RGB matrix support
  builddefs/common_features.mk
  docs/feature_rgb_matrix.md
  drivers/led/sled1734x.c
  drivers/led/sled1734x.h
  quantum/rgb_matrix/rgb_matrix.h
  quantum/rgb_matrix/rgb_matrix_drivers.c
Labels: documentation, core

#342 designedbygg/berserker: bump debounce to 10ms
  keyboards/designedbygg/berserker/info.json
Labels: keyboard
