Repository SonixQMK/qmk_firmware, pull requests merged in 2024-10, with the labels that each got.

#425 Sonix qmk hator gravity tkl
  keyboards/hator/gravity/tkl/config.h
Labels: keyboard, keymap, via

#427 redragon/k552/v2/iso - fix led matrix and via build
  keyboards/redragon/k552/v2/iso/keyboard.json
Labels: keyboard

#398 [Keychron C1] Fixed mac keymap, and some code readablitity changes.
  keyboards/keychron/c1/rgb/config.h
  keyboards/keychron/c1/rgb/keyboard.json
  keyboards/keychron/c1/rgb/keymaps/default/keymap.c
  keyboards/keychron/c1/rgb/keymaps/via/keymap.c
  keyboards/keychron/c1/rgb/readme.md
  keyboards/keychron/c1/rgb/rgb.c
Labels: keyboard, keymap, via, rebase-needed
