Repository SonixQMK/qmk_firmware, pull requests merged in 2024-09, with the labels that each got.

#389 Add Hator gravity tkl keyboard support
  keyboards/hator/gravity/tkl/config.h
  keyboards/hator/gravity/tkl/keyboard.json
  keyboards/hator/gravity/tkl/keymaps/default/keymap.c
  keyboards/hator/gravity/tkl/keymaps/via/config.h
  keyboards/hator/gravity/tkl/keymaps/via/gravity_via.json
  keyboards/hator/gravity/tkl/keymaps/via/keymap.c
  keyboards/hator/gravity/tkl/keymaps/via/rules.mk
  keyboards/hator/gravity/tkl/readme.md
Labels: keyboard, keymap, via

#394 Adding the HyperX Alloy Origins Core
  keyboards/hyperx/alloy_origins_core/alloy_origins_core.c
  keyboards/hyperx/alloy_origins_core/config.h
  keyboards/hyperx/alloy_origins_core/keyboard.json
  keyboards/hyperx/alloy_origins_core/keymaps/default/keymap.c
  keyboards/hyperx/alloy_origins_core/keymaps/via/alloy_origins_core.json
  keyboards/hyperx/alloy_origins_core/keymaps/via/keymap.c
  keyboards/hyperx/alloy_origins_core/keymaps/via/rules.mk
  keyboards/hyperx/alloy_origins_core/mcuconf.h
  keyboards/hyperx/alloy_origins_core/readme.md
Labels: keyboard, keymap, via

#395 Remove animations to reduce firmware size (K4v2 RGB ANSI & ISO)
  keyboards/keychron/k4/rgb/v2/ansi/info.json
  keyboards/keychron/k4/rgb/v2/iso/info.json
Labels: keyboard

#397 Sonix qmk hator gravity tkl updates
  keyboards/hator/gravity/tkl/keyboard.json
  keyboards/hator/gravity/tkl/keymaps/via/gravity_via.json
  keyboards/hator/gravity/tkl/keymaps/via/keymap.c
  keyboards/hator/gravity/tkl/readme.md
Labels: keyboard, keymap, via

#407 [redragon/k556] update configs
  keyboards/redragon/k556/keyboard.json
  keyboards/redragon/k556/rules.mk
Labels: keyboard

#408 [ozone/tactical] update configs
  keyboards/ozone/tactical/keyboard.json
  keyboards/ozone/tactical/rules.mk
Labels: keyboard

#409 [keychron/k2] update configs
  keyboards/keychron/k2/rgb/v2/ansi/keyboard.json
  keyboards/keychron/k2/rgb/v2/ansi/rules.mk
  keyboards/keychron/k2/rgb/v2/iso/keyboard.json
  keyboards/keychron/k2/rgb/v2/iso/rules.mk
Labels: keyboard

#411 [designedbygg] config updates
  keyboards/designedbygg/berserker/keyboard.json
  keyboards/designedbygg/berserker/rules.mk
  keyboards/designedbygg/ironclad/icl01/keyboard.json
  keyboards/designedbygg/ironclad/icl01/rules.mk
  keyboards/designedbygg/ironclad/icl03/keyboard.json
  keyboards/designedbygg/ironclad/icl03/rules.mk
  keyboards/designedbygg/redblade/keyboard.json
  keyboards/designedbygg/redblade/rules.mk
Labels: keyboard

#412 [keychron/k8/rgb] config updates
  keyboards/keychron/k8/rgb/ansi/keyboard.json
  keyboards/keychron/k8/rgb/ansi/rules.mk
  keyboards/keychron/k8/rgb/iso/keyboard.json
  keyboards/keychron/k8/rgb/iso/rules.mk
  keyboards/keychron/k8/rgb/keymaps/via/config.h
  keyboards/keychron/k8/rgb/keymaps/via_iso/config.h
  keyboards/keychron/k8/rgb/optical_ansi/keyboard.json
  keyboards/keychron/k8/rgb/optical_ansi/rules.mk
  keyboards/keychron/k8/rgb/optical_iso/keyboard.json
  keyboards/keychron/k8/rgb/optical_iso/rules.mk
Labels: keyboard, keymap, via

#414 [czc/dwarf] config updates
  keyboards/czc/dwarf/keyboard.json
  keyboards/czc/dwarf/rules.mk
Labels: keyboard

#415 [keychron/k4/rgb/v2] config updates
  keyboards/keychron/k4/rgb/v2/ansi/keyboard.json
  keyboards/keychron/k4/rgb/v2/ansi/rules.mk
  keyboards/keychron/k4/rgb/v2/iso/keyboard.json
  keyboards/keychron/k4/rgb/v2/iso/rules.mk
Labels: keyboard

#418 [sonixqmk] we allow all keymaps currently
  lib/python/qmk/cli/lint.py
Labels: python, cli

#419 [hator/gravity/tkl] remove trailing whitespace from readme
  keyboards/hator/gravity/tkl/readme.md
Labels: keyboard

#403 Add HATOR Gravity X TKL keyboard support
  keyboards/hator/gravity/xtkl/config.h
  keyboards/hator/gravity/xtkl/keyboard.json
  keyboards/hator/gravity/xtkl/keymaps/default/keymap.c
  keyboards/hator/gravity/xtkl/keymaps/via/config.h
  keyboards/hator/gravity/xtkl/keymaps/via/gravityx_via.json
  keyboards/hator/gravity/xtkl/keymaps/via/keymap.c
  keyboards/hator/gravity/xtkl/keymaps/via/rules.mk
  keyboards/hator/gravity/xtkl/readme.md
Labels: keyboard, keymap, via

#421 [docs] sn32f2xx rgb: add docs
  docs/drivers/sn32f2xx.md
  docs/features/rgb_matrix.md
Labels: documentation

#426 Keychron C2 RGB ANSI
  keyboards/keychron/c2/rgb/config.h
  keyboards/keychron/c2/rgb/keyboard.json
  keyboards/keychron/c2/rgb/keymaps/default/keymap.c
  keyboards/keychron/c2/rgb/readme.md
  keyboards/keychron/c2/rgb/rgb.c
Labels: keyboard, keymap
